h4{
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-shadow: 2px 2px 20px #888;
  -moz-box-shadow: 2px 2px 20px #888;
  position: absolute;
  top: 50px;
  padding: 0px 150px;
  left: -120px;
  color: #F47D31;
  background-color: #fff;
  text-align: center;
}
